################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HealthcheckDashboard/.vs/HealthcheckDashboard/v15
/HealthcheckDashboard/obj/Debug
